@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-eoc-darkest text-slate-100 font-sans;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* Custom high-tech dark scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #080c14;
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #06b6d4;
  }
}
